@page
@model eCashier.Pages.CustomerPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <h3 class="card-header">Index</h3>
    <div class="card-body">
        <a class="btn btn-success mb-3" asp-page="Create">New customer</a>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer[0].FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer[0].LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer[0].StudentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer[0].Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer[0].Telephone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer[0].Notes)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Customer)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telephone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>