@page
@model eCashier.Pages.CategoryPages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Staff";
}

<div class="card">
    <h3 class="card-header">Index</h3>
    <div class="card-body">
        <a class="btn btn-success mb-3" asp-page="Create">New category</a>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category[0].Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Category)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
