@page
@model eCashier.Pages.ItemPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.SKU)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.SKU)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Category.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Tax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Tax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.NotificationEmails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.NotificationEmails)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.AllowAnyPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.AllowAnyPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.IsVisible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.IsVisible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
